<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.masu.dcs.mapper.AiTrainingSampleMapper">

    <resultMap id="BaseResultMap" type="cn.masu.dcs.entity.AiTrainingSample">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="imageRegionPath" column="image_region_path" jdbcType="VARCHAR"/>
            <result property="coordinate" column="coordinate" jdbcType="OTHER"/>
            <result property="fieldKey" column="field_key" jdbcType="VARCHAR"/>
            <result property="ocrValue" column="ocr_value" jdbcType="VARCHAR"/>
            <result property="correctedValue" column="corrected_value" jdbcType="VARCHAR"/>
            <result property="isTrained" column="is_trained" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,image_region_path,
        coordinate,field_key,ocr_value,
        corrected_value,is_trained,create_time
    </sql>
</mapper>
