<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.masu.dcs.mapper.DocumentOcrRawMapper">

    <resultMap id="BaseResultMap" type="cn.masu.dcs.entity.DocumentOcrRaw">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="fullText" column="full_text" jdbcType="VARCHAR"/>
            <result property="rawDataJson" column="raw_data_json" jdbcType="OTHER"/>
            <result property="textCount" column="text_count" jdbcType="INTEGER"/>
            <result property="avgConfidence" column="avg_confidence" jdbcType="DECIMAL"/>
            <result property="isLlmUsed" column="is_llm_used" jdbcType="TINYINT"/>
            <result property="tokenUsage" column="token_usage" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,full_text,
        raw_data_json,text_count,avg_confidence,
        is_llm_used,token_usage,create_time
    </sql>
</mapper>
