<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.masu.dcs.mapper.DocumentFileMapper">

    <resultMap id="BaseResultMap" type="cn.masu.dcs.entity.DocumentFile">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="templateId" column="template_id" jdbcType="BIGINT"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="fileNo" column="file_no" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="minioBucket" column="minio_bucket" jdbcType="VARCHAR"/>
            <result property="minioObject" column="minio_object" jdbcType="VARCHAR"/>
            <result property="thumbnailUrl" column="thumbnail_url" jdbcType="VARCHAR"/>
            <result property="processStatus" column="process_status" jdbcType="TINYINT"/>
            <result property="processMode" column="process_mode" jdbcType="VARCHAR"/>
            <result property="retryCount" column="retry_count" jdbcType="INTEGER"/>
            <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,template_id,
        batch_no,file_no,file_name,
        file_type,file_size,minio_bucket,
        minio_object,thumbnail_url,process_status,
        process_mode,retry_count,fail_reason,
        deleted,version,create_time,
        update_time
    </sql>
</mapper>
