<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.masu.dcs.mapper.DocumentExtractDetailMapper">

    <resultMap id="BaseResultMap" type="cn.masu.dcs.entity.DocumentExtractDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="mainId" column="main_id" jdbcType="BIGINT"/>
            <result property="rowIndex" column="row_index" jdbcType="INTEGER"/>
            <result property="rowDataJson" column="row_data_json" jdbcType="OTHER"/>
            <result property="logicFlag" column="logic_flag" jdbcType="TINYINT"/>
            <result property="logicMsg" column="logic_msg" jdbcType="VARCHAR"/>
            <result property="rowConfidence" column="row_confidence" jdbcType="DECIMAL"/>
            <result property="isCorrected" column="is_corrected" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_id,main_id,
        row_index,row_data_json,logic_flag,
        logic_msg,row_confidence,is_corrected,
        create_time
    </sql>
</mapper>
