<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.masu.dcs.mapper.SysTaskLogMapper">

    <resultMap id="BaseResultMap" type="cn.masu.dcs.entity.SysTaskLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="traceId" column="trace_id" jdbcType="VARCHAR"/>
            <result property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="stage" column="stage" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="costMs" column="cost_ms" jdbcType="BIGINT"/>
            <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,trace_id,file_id,
        stage,status,cost_ms,
        error_msg,create_time
    </sql>
</mapper>
